.FoundItem {
    text-align: center;
    overflow: hidden;
}

.FoundItem-content {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 300px;
    margin: 0px auto;
}

.FoundItem-Title {
    color: #000000;
}

.FoundItem-header {
    width: 100%;
    height: 60px;
    background-color: #3A69B0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.FoundItem-text {
    color: #ffffff;
    font-size: 20px;
    margin-left: 10%;
}

.FoundItem-scanner {
    width: 400px;
    height: 400px;
    border: 2px dashed #d3d3d3;
    color: #000;
}